.center1 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.font {
font-family: fantasy;
font-style: italic;
}
.body1{
  background-color: grey;
}
.background {
  background-image: url('img/eat-local.png');

}
.container p-4 pb-0{
  margin: auto;
  width: 50%;
  padding: 10px;
}


.gallery-img{
  max-width: 400px; 
}
.space {
padding-top:2;
padding-bottom:40px;
}
.body2{
  background-color: rgb(71, 107, 204);
  color: rgb(255, 255, 255);
}
