.center1 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.font {
font-family: fantasy;
font-style: italic;

}
.font2 {
  font-family: fantasy;
  font-style: italic;
  font-size: 30px;
  color: white;
  text-shadow:
 -2px 0 #000,
 -2px 0 #000,
 2px 0 #000,
 2px 0 #000;
  }
.body1{
  background-color: rgb(71, 107, 204);
}
.background {
  background-image: url('img/black.png');
  width: auto;
  height: 500px;

}
.gallery-img{
  max-width: 400px; 
}
.space {
padding-top:2;
padding-bottom:40px;
}
.body2{
  background-color: rgb(71, 107, 204);
  color: rgb(255, 255, 255);
}
.carousel .item {
  height: 500px;
}
img {
  max-width: 45%;
  width: auto   9;
  height: auto;
  margin: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  
}
@media only screen and (max-width: 900px) {
  body {
    background-color: blue;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .carousel
  {height: 200px;
  width: auto;}
  
}
p{
  color: black;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
a{
  color: white
}
#welcome{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  
}
#menu-text{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue#2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item > img {width: 100%


}
/*paraley
*/
